<img style="float: left; margin: 30px 15px 15px 15px;" src="https://pngimage.net/wp-content/uploads/2018/06/logo-iteso-png-5.png" width="300" height="500" /> 
    
    
### <font color='navy'> Simulación de procesos financieros. 

**Nombres:** Mariana Valenzuela Lafarga. Gerardo Gutierrez

**Fecha:** 02 de Febrero del 2023.

**Expediente** : XXX.
**Profesor:** Oscar David Jaramillo Zuluaga.
    
**Link Github**: Link con el enlace del repositorio del creador del proyecto

# Tarea 2: Clase 2

### Ejercicio 1: 
1. Imagine una rutina contable utilizada en una librería. Funciona en una lista con sublistas, que se ven así:
![imagen.png](attachment:imagen.png)
Escriba un programa en Python, que devuelve una lista con tuplas de tamaño 2. Cada tupla consiste en el número de pedido y el costo total del pedido. El producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €. 
Escribe un programa Python usando unicamente las funciones **lambda y map**.

`orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]`

Codigo de solución estudiante 1

In [1]:
import numpy as np

In [2]:
orders = [ ["34587", "Learning Python, Mark Lutz", 4, 40.95], 
           ["98762", "Programming Python, Mark Lutz", 5, 56.80], 
           ["77226", "Head First Python, Paul Barry", 3,32.95],
           ["88112", "Einführung in Python3, Bernd Klein", 3, 24.99]]
p= lambda x,y: x*y
def incrementar(value):
    if value<100:
        value+=10
    return value

z=list(map(incrementar, [p(orders[i][2],orders[i][3]) for i in np.arange(len(orders))]))
result= list(map(lambda x,y: (x[0],y),orders,z))
result

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

Código estudiante 2

### Ejercicio 2:
2. La misma librería, pero esta vez trabajamos en una lista diferente. Las sublistas de nuestras listas se ven así: 
[número de orden, (número de artículo, cantidad, precio por unidad), ... (número de artículo, cantidad, precio por unidad)] 

`orders = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]`
           
Escriba un programa que devuelva una lista de dos tuplas que tengan la información de (número de pedido, cantidad total de pedido). Utilice la función `Reduce`. Recuerde el precio del pedido del producto debe aumentarse en 10€ si el valor de la orden es inferior a 100,00 €.

Código de solución estudiante 1

In [3]:
import numpy as np
from functools import reduce 
orders3 = [[1, ("5464", 4, 9.99), ("8274",18,12.99), ("9744", 9, 44.95)], 
	       [2, ("5464", 9, 9.99), ("9744", 9, 44.95)],
	       [3, ("5464", 9, 9.99), ("88112", 11, 24.99)],
           [4, ("8732", 7, 11.99), ("7733",11,18.99), ("88112", 5, 39.95)] ]

In [24]:
p=lambda value3: value3+10 if value3<100 else value3

costo_pedido2= [[i[2]*i[1] for i in x[1:]] for x in orders3]
costo_final2=list(map(p,i)for i in costo_pedido2)

In [23]:
suma=[reduce(lambda x,y: x+y,i)for i in costo_final2]
r= list(map(lambda w,z: (w[0],z),orders3,suma))
r

[(1, 688.3299999999999),
 (2, 504.46000000000004),
 (3, 374.79999999999995),
 (4, 502.57)]

Código estudiante 2

### Ejercicio 3
3. Resolver los anteriores ejercicios usando pandas (DataFrame)

Código de solución estudiante 1

### Ejercicio 1 usando DataFrames

In [27]:
import pandas as pd
def incrementar2(value2):
    if value2<100:
        value2+=10 
    return value2

orders2=pd.DataFrame(orders)

In [28]:
orders2["costo_pedido"]= orders2[2]*orders2[3]
orders2["costo_final"]=list(map(incrementar2,orders2["costo_pedido"]))
orders2

,0,1,2,3,costo_pedido,costo_final
0,34587,"Learning Python, Mark Lutz",4,40.95,163.80,163.80
1,98762,"Programming Python, Mark Lutz",5,56.80,284.00,284.00
2,77226,"Head First Python, Paul Barry",3,32.95,98.85,108.85
3,88112,"Einführung in Python3, Bernd Klein",3,24.99,74.97,84.97

In [7]:
resultado= list(map(lambda x,y: (x,y),orders2[0],orders2["costo_final"]))
resultado

[('34587', 163.8),
 ('98762', 284.0),
 ('77226', 108.85000000000001),
 ('88112', 84.97)]

Código estudiante 2

### Ejercicio 2 usando DataFrames

In [29]:
def incrementar4(value4):
    if value4<100:
        value4+=10 
    return value4
orders3=pd.DataFrame(orders3)
orders3

   0                 1                   2                  3
0  1   (5464, 4, 9.99)   (8274, 18, 12.99)   (9744, 9, 44.95)
1  2   (5464, 9, 9.99)    (9744, 9, 44.95)               None
2  3   (5464, 9, 9.99)  (88112, 11, 24.99)               None
3  4  (8732, 7, 11.99)   (7733, 11, 18.99)  (88112, 5, 39.95)

Código estudiante 2

### Ejercicio 4
4. Use filter to eliminate all words that are shorter than 4 letters from a list of words
`list='the notion of a lambda function goes all the way back to the origin of computer science'`

Código de solución estudiante 1

In [8]:
list1= 'the notion of a lambda function goes all the way back to the origin of computer science'.split()
result1 = list(filter(lambda x: len(x) >= 4, list1))
print(result1)

['notion', 'lambda', 'function', 'goes', 'back', 'origin', 'computer', 'science']

Código estudiante 2

### Ejercicio 5
5. Use filter to determine the percentage of Fahrenheit temperatures in a list are within the range 32 to 80

In [9]:
import numpy as np
np.random.seed(55555)
temperatures = np.random.uniform(25,110,30)
print(temperatures)

[ 35.97387961  99.13294268  92.6178302   99.69549478  63.21119535
  73.90387697  95.50028838  99.21476553  36.98251238 101.45813729
 100.5917418   89.38159435  89.52156589  83.8084752   28.37990868
  68.75395211  45.86132067  36.58307493  56.32208365  33.96219302
  45.29071318  74.86289938  66.51091383  88.19316186  94.26635864
  46.83131624 109.60744472 109.68427993  44.55796499  92.84146259]

Código de solución estudiante 1

In [10]:
result2= list(filter(lambda temperatura: 32<= temperatura <=80,temperatures))
result2

[35.97387961379455,
 63.211195349983264,
 73.90387696517755,
 36.982512376595906,
 68.75395211338406,
 45.86132066984196,
 36.58307493022292,
 56.322083650154724,
 33.9621930206693,
 45.29071317816652,
 74.86289938282341,
 66.51091382521807,
 46.831316244170544,
 44.55796498523391]

Código de solución estudiante 2

6. Use reduce to find the lower left corner (minimum x and minimum y value) for a list of point locations
> **Hint**: Explore the command `np.minimum.reduce` [link](https://docs.scipy.org/doc/numpy/reference/generated/numpy.ufunc.reduce.html)

In [11]:
np.random.seed(55555)
point_xy = np.random.randint(0,100,[30,2])
print(point_xy)

[[17 97]
 [22 33]
 [37 46]
 [57 28]
 [11 25]
 [14  2]
 [74 16]
 [12 37]
 [35 21]
 [66 65]
 [86 58]
 [67 81]
 [ 0 48]
 [28 66]
 [76 22]
 [46 47]
 [64  7]
 [88 94]
 [65 13]
 [75 89]
 [23 17]
 [36 63]
 [62 36]
 [64 17]
 [18 19]
 [88 41]
 [21 49]
 [98 36]
 [81 73]
 [62 90]]

Código de solución estudiante 1

In [12]:
from functools import reduce
result3=np.minimum.reduce(point_xy)
result3

array([0, 2])

Código de solución estudiante 2